<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        farmer home page
    </h1>
   
    <form method="POST" action="/submitform">
        <input type="name" name="name" placeholder="crop name" required>
        <input type="quantity" name="quantity" placeholder="quantity" required>
        <input type="price" name="price" placeholder="price" required>
        <button type="submit">Add</button> 
    </form>
    

</body>
</html>