<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome
    </h1>
    <h2>
        login as: 
    </h2>
    <h2>Farmer</h2>
    <!-- <a href="farm_login.ejs">
        <button type="button" class="login-btn" >Login as Farmer</button>
    </a> -->
    <button onclick="location.href='/farm_login'" >Login as Farmer</button>
    <h2>Trader</h2>
    <!-- <a href="trader_login.ejs">
        <button type="button" class="login-btn">Login as Trader</button>
    </a> -->
    <button onclick="location.href='/trader_login'" >Login as Trader</button>

</body>
</html>