<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        welcome back <%=user.tusername %>
    </h1>
    
        <% for ( product of products ) {%>
            <form method="post" action="/trader_home/<%= user.tid %>/<%=product.ptname%>">
                <button type="submit"  ><%= product.ptname %></button>
            </form>        
        <% } %>
    
</table>
</body>
</html>